<a href="https://colab.research.google.com/github/TongHere/Secom/blob/main/Secom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

In [9]:
url1 ='https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom.data'
names = ["feature" + str(x) for x in range(1, 591)]
df1 = pd.read_csv(url1,sep=" ", names=names, na_values = "NA",header=None)
df1.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

Read the Secom dataset from URL and create frist dataframe.

In [12]:
url2 ='https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom_labels.data'
df2 = pd.read_csv(url2,sep=" ",names = ["outcome","time"])
#df2.columns =['Pass=-1/Fail=1','Date']
df2.head()

   outcome                 time
0       -1  19/07/2008 11:55:00
1       -1  19/07/2008 12:32:00
2        1  19/07/2008 13:17:00
3       -1  19/07/2008 14:43:00
4       -1  19/07/2008 15:22:00

Read the secom.label dataset and create the second dataframe.

In [13]:
Secom = pd.merge(df1, df2,left_index=True,right_index=True)
print(Secom)

      feature1  feature2   feature3   feature4  feature5  feature6  feature7  \
0      3030.93   2564.00  2187.7333  1411.1265    1.3602     100.0   97.6133
1      3095.78   2465.14  2230.4222  1463.6606    0.8294     100.0  102.3433
2      2932.61   2559.94  2186.4111  1698.0172    1.5102     100.0   95.4878
3      2988.72   2479.90  2199.0333   909.7926    1.3204     100.0  104.2367
4      3032.24   2502.87  2233.3667  1326.5200    1.5334     100.0  100.3967
...        ...       ...        ...        ...       ...       ...       ...
1562   2899.41   2464.36  2179.7333  3085.3781    1.4843     100.0   82.2467
1563   3052.31   2522.55  2198.5667  1124.6595    0.8763     100.0   98.4689
1564   2978.81   2379.78  2206.3000  1110.4967    0.8236     100.0   99.4122
1565   2894.92   2532.01  2177.0333  1183.7287    1.5726     100.0   98.7978
1566   2944.92   2450.76  2195.4444  2914.1792    1.5978     100.0   85.1011

      feature8  feature9  feature10  ...  feature583  feature584  feature585  \
0       0.1242    1.5005     0.0162  ...      0.5005      0.0118      0.0035
1       0.1247    1.4966    -0.0005  ...      0.5019      0.0223      0.0055
2       0.1241    1.4436     0.0041  ...      0.4958      0.0157      0.0039
3       0.1217    1.4882    -0.0124  ...      0.4990      0.0103      0.0025
4       0.1235    1.5031    -0.0031  ...      0.4800      0.4766      0.1045
...        ...       ...        ...  ...         ...         ...         ...
1562    0.1248    1.3424    -0.0045  ...      0.4988      0.0143      0.0039
1563    0.1205    1.4333    -0.0061  ...      0.4975      0.0131      0.0036
1564    0.1208       NaN        NaN  ...      0.4987      0.0153      0.0041
1565    0.1213    1.4622    -0.0072  ...      0.5004      0.0178      0.0038
1566    0.1235       NaN        NaN  ...      0.4987      0.0181      0.0040

      feature586  feature587  feature588  feature589  feature590  outcome  \
0         2.3630         NaN         NaN         NaN         NaN       -1
1         4.4447      0.0096      0.0201      0.0060    208.2045       -1
2         3.1745      0.0584      0.0484      0.0148     82.8602        1
3         2.0544      0.0202      0.0149      0.0044     73.8432       -1
4        99.3032      0.0202      0.0149      0.0044     73.8432       -1
...          ...         ...         ...         ...         ...      ...
1562      2.8669      0.0068      0.0138      0.0047    203.1720       -1
1563      2.6238      0.0068      0.0138      0.0047    203.1720       -1
1564      3.0590      0.0197      0.0086      0.0025     43.5231       -1
1565      3.5662      0.0262      0.0245      0.0075     93.4941       -1
1566      3.6275      0.0117      0.0162      0.0045    137.7844       -1

                     time
0     19/07/2008 11:55:00
1     19/07/2008 12:32:00
2     19/07/2008 13:17:00
3     19/07/2008 14:43:00
4     19/07/2008 15:22:00
...                   ...
1562  16/10/2008 15:13:00
1563  16/10/2008 20:49:00
1564  17/10/2008 05:26:00
1565  17/10/2008 06:01:00
1566  17/10/2008 06:07:00

[1567 rows x 592 columns]

In [15]:
Secom.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590,outcome,time
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1,19/07/2008 11:55:00
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1,19/07/2008 12:32:00
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1,19/07/2008 13:17:00
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1,19/07/2008 14:43:00
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1,19/07/2008 15:22:00

In [18]:
Secom.loc[:,'time'] = pd.to_datetime(Secom.loc[:, 'time'])
Secom.set_index('time', inplace = True) # set index on dataset
print(Secom.head()) 
print(Secom.tail())

                     feature1  feature2   feature3   feature4  feature5  \
time
2008-07-19 11:55:00   3030.93   2564.00  2187.7333  1411.1265    1.3602
2008-07-19 12:32:00   3095.78   2465.14  2230.4222  1463.6606    0.8294
2008-07-19 13:17:00   2932.61   2559.94  2186.4111  1698.0172    1.5102
2008-07-19 14:43:00   2988.72   2479.90  2199.0333   909.7926    1.3204
2008-07-19 15:22:00   3032.24   2502.87  2233.3667  1326.5200    1.5334

                     feature6  feature7  feature8  feature9  feature10  ...  \
time                                                                    ...
2008-07-19 11:55:00     100.0   97.6133    0.1242    1.5005     0.0162  ...
2008-07-19 12:32:00     100.0  102.3433    0.1247    1.4966    -0.0005  ...
2008-07-19 13:17:00     100.0   95.4878    0.1241    1.4436     0.0041  ...
2008-07-19 14:43:00     100.0  104.2367    0.1217    1.4882    -0.0124  ...
2008-07-19 15:22:00     100.0  100.3967    0.1235    1.5031    -0.0031  ...

                     feature582  feature583  feature584  feature585  \
time
2008-07-19 11:55:00         NaN      0.5005      0.0118      0.0035
2008-07-19 12:32:00    208.2045      0.5019      0.0223      0.0055
2008-07-19 13:17:00     82.8602      0.4958      0.0157      0.0039
2008-07-19 14:43:00     73.8432      0.4990      0.0103      0.0025
2008-07-19 15:22:00         NaN      0.4800      0.4766      0.1045

                     feature586  feature587  feature588  feature589  \
time
2008-07-19 11:55:00      2.3630         NaN         NaN         NaN
2008-07-19 12:32:00      4.4447      0.0096      0.0201      0.0060
2008-07-19 13:17:00      3.1745      0.0584      0.0484      0.0148
2008-07-19 14:43:00      2.0544      0.0202      0.0149      0.0044
2008-07-19 15:22:00     99.3032      0.0202      0.0149      0.0044

                     feature590  outcome
time
2008-07-19 11:55:00         NaN       -1
2008-07-19 12:32:00    208.2045       -1
2008-07-19 13:17:00     82.8602        1
2008-07-19 14:43:00     73.8432       -1
2008-07-19 15:22:00     73.8432       -1

[5 rows x 591 columns]
                     feature1  feature2   feature3   feature4  feature5  \
time
2008-10-16 15:13:00   2899.41   2464.36  2179.7333  3085.3781    1.4843
2008-10-16 20:49:00   3052.31   2522.55  2198.5667  1124.6595    0.8763
2008-10-17 05:26:00   2978.81   2379.78  2206.3000  1110.4967    0.8236
2008-10-17 06:01:00   2894.92   2532.01  2177.0333  1183.7287    1.5726
2008-10-17 06:07:00   2944.92   2450.76  2195.4444  2914.1792    1.5978

                     feature6  feature7  feature8  feature9  feature10  ...  \
time                                                                    ...
2008-10-16 15:13:00     100.0   82.2467    0.1248    1.3424    -0.0045  ...
2008-10-16 20:49:00     100.0   98.4689    0.1205    1.4333    -0.0061  ...
2008-10-17 05:26:00     100.0   99.4122    0.1208       NaN        NaN  ...
2008-10-17 06:01:00     100.0   98.7978    0.1213    1.4622    -0.0072  ...
2008-10-17 06:07:00     100.0   85.1011    0.1235       NaN        NaN  ...

                     feature582  feature583  feature584  feature585  \
time
2008-10-16 15:13:00    203.1720      0.4988      0.0143      0.0039
2008-10-16 20:49:00         NaN      0.4975      0.0131      0.0036
2008-10-17 05:26:00     43.5231      0.4987      0.0153      0.0041
2008-10-17 06:01:00     93.4941      0.5004      0.0178      0.0038
2008-10-17 06:07:00    137.7844      0.4987      0.0181      0.0040

                     feature586  feature587  feature588  feature589  \
time
2008-10-16 15:13:00      2.8669      0.0068      0.0138      0.0047
2008-10-16 20:49:00      2.6238      0.0068      0.0138      0.0047
2008-10-17 05:26:00      3.0590      0.0197      0.0086      0.0025
2008-10-17 06:01:00      3.5662      0.0262      0.0245      0.0075
2008-10-17 06:07:00      3.6275      0.0117      0.0162      0.0045

                     feature590  outcome
time
2008-10-16 15:13:00    203.1720       -1
2008-10-16 20:49:00    203.1720       -1
2008-10-17 05:26:00     43.5231       -1
2008-10-17 06:01:00     93.4941       -1
2008-10-17 06:07:00    137.7844       -1

[5 rows x 591 columns]